@CHARSET "ISO-8859-1";

body{
	background-color: #DCDCDC ;
	
}

.siderbar{
	color: black;
	margin: 50px;
	margin-right:150px;
	margin-left:150px; 
	font-size: 22px;	
}

.benvenuto{
	font-size: 24px;
	font-weight: bold;
}

#eventiHome{
	border:1px solid ; 
	padding: 30px;
	font-size: 18px;
	background-color:#F5F5F5;
	
}

#ricerca{
	float: right;
}
.selRicerca{
	float: right;
}
#post{
	border:3px solid;
	float: right;
	padding:30px; 
}

/* logo navbar*/
.fotoMercury{
	width: 150px;
	height: 50px;
}





