@CHARSET "ISO-8859-1";

body{
	background-color: #DCDCDC ;
	
}

.siderbar{
	color: black;
	margin: 50px;
	margin-right:150px;
	margin-left:150px; 
	font-size: 22px;	
}

.benvenuto{
	font-size: 24px;
	font-weight: bold;
}

#eventiHome{
	border:1px solid ; 
	padding: 30px;
	font-size: 18px;
	background-color:#F5F5F5;
	
}

#ricerca{
	float: right;
}
.selRicerca{
	float: right;
}
#post{
	border:3px solid;
	float: right;
	padding:30px; 
}

/* logo navbar*/
.fotoMercury{
	width: 150px;
	height: 50px;
}

/* STILE CONSTANTIN LoginEnte, LoginAdmin, RegistrazioneEnte*/

/* Login Form */
.loginform {    
    margin: 25%;
    width: 100%;
    align: center;
    position: absolute;
}

/* Inputs Style */
.input[type=text], input[type=password], input[type=email] {
    border-radius: 5px;
    padding: 12px 20px;
    margin: 8px 0;
    display: list-item;
    border: 2px solid #ccc;
    width: 50%;
}

/* Set style to login button */
.loginbtn {	
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: 2px;
    border-radius: 5px;
    cursor: pointer;
    width:50%;
    margin:5px;
    margin-left:21px;
    margin-right:18px;
}
/* Add a hover effect for loginbtn */
.loginbtn:hover{
    opacity: 0.8;
}

/* Set style to registrabtn */
.registrabtn {
    background-color: #ff0000;
    color: white;
    padding: 12px 20px;
    border: 2px;
    border-radius: 5px;
    cursor: pointer;
    width:50%;
    margin:5px;    
    margin-left:21px;
    margin-right:18px;
}    
/* Add a hover effect for registrabtn */
.registrabtn:hover{
    opacity: 0.8;
}




